{% extends "auctions/layout.html" %}

{% block body %}
    <h2 id="create-listing">Create Listing</h2>

    <form action="{% url 'submit' %}" method="POST" id="testformid">
        {% csrf_token %}
        
        <div id=title-label> Title of the listing:</div>
        <input id="title-create" type="text" name="title" required>
        
        <div id="description-label">Description:</div>   
        <textarea id="description" name="description" cols="35" wrap="soft"></textarea>
        
        <div id="bid-label">Starting Bid:</div>
        <input id="bid" type="text" name="bid" required>
        
        <div id="url-label">Url:</div>
        <input id="url" type="text" name="url" >
        
        <div id="category-label">Category:</div>
        <select id="category" name="category" size="4">
            <option value="Road Bike">Road Bike</option>
            <option value="Mountain Bike">Mountain Bike</option>
            <option value="Gravel Bike">Gravel Bike</option>
            <option value="Fixie/Single speed Bike">Fixie/Single speed Bike</option>
        </select>
        
        <button id="save" type="submit">Submit</button>
    </form>
    
{% endblock %}